@using HellBlaze.Constants
@inherits LayoutComponentBase

<MudThemeProvider Theme="HelldiversTheme.Theme"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="4" Color="Color.Dark" Class="helldivers-appbar">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
                       OnClick="@ToggleDrawer"/>
        <MudImage Src="images/logo256.png" Alt="Logo" Height="32" Class="ml-2 mr-4"/>
        <MudText Typo="Typo.h5" Class="helldivers-title">HELLBLAZE - HELLDIVERS 2 RANDOMIZER</MudText>
        <MudSpacer/>
        <a href="https://github.com/janLalawa/Hellblaze/" target="_blank" class="github-button">
            <span>Github</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-github">
                <path
                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
            </svg>
        </a>


        <MudChip T="string" Icon="@Icons.Material.Filled.Flag" Color="Color.Tertiary" Size="Size.Small" Class="mr-2">
            SUPER EARTH CITIZEN ID: 9821FR33D0M
        </MudChip>
    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen" Elevation="4" ClipMode="DrawerClipMode.Always"
               Class="helldivers-drawer" Breakpoint="Breakpoint.None">
        <NavMenu/>
    </MudDrawer>

    <MudMainContent Class="helldivers-main-content">
        <div class="page-background"></div>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="py-6">
            @Body
        </MudContainer>

        <MudAppBar Bottom="true" Fixed="true" Elevation="0" Class="helldivers-footer" Dense="true">
            <MudText Typo="Typo.caption" Style="">HELLDIVERS™ 2 RANDOMIZER
                - FOR
                DEMOCRACY!
            </MudText>
            <MudSpacer/>
            <MudText Typo="Typo.caption">SUPER EARTH • MANAGED DEMOCRACY</MudText>
        </MudAppBar>
    </MudMainContent>
</MudLayout>

<style>
    .helldivers-title {
        font-family: 'Orbitron', sans-serif;
        letter-spacing: 2px;
        font-weight: 700;
    }

    .helldivers-appbar {
        background: linear-gradient(180deg, @HelldiversTheme.Colors.DarkBlue 0%, #0a1219 100%);
        border-bottom: 2px solid @HelldiversTheme.Colors.PrimaryBlueBright;
    }

    .helldivers-drawer {
        background: @HelldiversTheme.Colors.Dark;
        border-right: 1px solid @HelldiversTheme.Colors.PrimaryYellow;
    }

    .helldivers-main-content {
        /*background: #0a0e12;*/
        background-blend-mode: overlay;
    }

    .helldivers-footer {
        background-color: rgba(13, 26, 38, 0.7);
        border-top: 1px solid @HelldiversTheme.Colors.PrimaryBlueBright;
        height: 36px;
    }

    .mud-drawer-header {
        background-color: @HelldiversTheme.Colors.Dark !important;
        border-bottom: 1px solid @HelldiversTheme.Colors.PrimaryYellow !important;
        min-height: 48px !important;
    }


    .mud-button {
        border-radius: 2px !important;
        text-transform: uppercase !important;
        letter-spacing: 1px !important;
        font-weight: 600 !important;
    }

    .player-1 {
        color: @HelldiversTheme.Colors.Player1;
    }

    .player-2 {
        color: @HelldiversTheme.Colors.Player2;
    }

    .player-3 {
        color: @HelldiversTheme.Colors.Player3;
    }

    .player-4 {
        color: @HelldiversTheme.Colors.Player4;
    }

    .page-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('images/superdestroyer1.jpeg');
        background-size: cover;
        background-position: center;
        filter: blur(10px);
        opacity: 0.5;
        z-index: -1;
    }

    .github-button {
        display: flex;
        align-items: center;
        gap: 8px; /* This creates space between the text and icon */
        background-color: rgba(0, 0, 0, 0.3);
        padding: 6px 12px;
        border-radius: 20px;
        text-decoration: none;
        color: white;
        transition: background-color 0.3s;
        margin-right: 16px;
    }

    .github-button:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .github-button span {
        font-weight: 500;
    }


</style>

@code {
    private bool _drawerOpen;

    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }

}
